[submodule ".config/rofi"]
	path = .config/rofi
	url = https://github.com/maxdevjs/dotfiles-rofi
[submodule ".config/kitty"]
	path = .config/kitty
	url = https://github.com/maxdevjs/dotfiles-kitty
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/maxdevjs/dotfiles-fish
